{% extends 'SiteMainBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script data-main="{{ asset('js/income') }}" src="{{ asset('vendor/require.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="filter-view">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="supplier" class="col-sm-2 control-label">Поставщик</label>
                <div class="col-sm-10">
                    <select id="supplier" name="supplier" class="form-control supplier">
                        <option value="0"> --- </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="product" class="col-sm-2 control-label">Товар</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control product" id="product" name="product_name" autocomplete='off'>
                </div>
            </div>
            <div class="form-group">
                <label for="product" class="col-sm-2 control-label">Дата</label>
                <div class="col-md-4">
                    <div class="input-daterange filter-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="date[date_start]" autocomplete='off'>
                        <span class="input-group-addon">-</span>
                        <input type="text" class="input-sm form-control" name="date[date_end]" autocomplete='off'>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default submit">Фильровать</button>
                </div>
            </div>
        </form>
    </div>

    <div class="file-list">
        <h3>Список поступлений</h3>
        <table class="table table-striped income-list">
            <tr>
                <th>Дата накладной</th>
                <th>Поставщик</th>
                <th>Номер накладной</th>
                <th>Сумма</th>
                <th>EXCEL</th>
                <th>PDF</th>
                <th>Оригинальное имя</th>
                <th></th>
            </tr>
        </table>
    </div>
{% endblock %}

{% block templates %}
    {{ parent() }}
    {% verbatim %}
    <script id="template_income_file" type="text/html">
        <td>{{ date }}</td>
        <td>{{ supplier }}</td>
        <td>{{ number }}</td>
        <td>{{ total }}</td>
        <td>
            <a href="{{ parseLink }}" target="_blank">{{ parseTime }}</a>
        </td>
        <td>
            <a href="{{ link }}" target="_blank">{{ loadTime }}</a>
        </td>
        <td>{{ originalName }}</td>
        <td>
            <a href="invoice/{{ id }}/excel" class="btn btn-sm btn-success">Excel</a>
            <button class="btn btn-sm btn-primary result"
                    data-target=".products-modal">Результат</button>
            <button class="btn btn-sm btn-danger delete">Удалить</button>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
