{% extends 'SiteMainBundle::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script data-main="{{ asset('js/upload') }}" src="{{ asset('vendor/require.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {#{{ form_label(form.file) }}#}
                {#<div class="file-drop-area bg-info"></div>#}
                <div class="btn-file-wrapper">
                    {{ form_errors(form.file) }}
                    <span class="btn btn-default btn-file">
                        Добавить PDF {{ form_widget(form.file) }}
                    </span>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="file-list">
        <h3>Список PDF файлов</h3>
        <div class="alert alert-info" role="alert">Необработанных файлов не найдено</div>
        <table class="table table-striped upload-list">
            <tr>
                <th>Оригинальный файл</th>
                <th>Оригинальное имя</th>
                <th>Поставщик</th>
                <th></th>
            </tr>
        </table>
    </div>
    <div class="file-list">
        <h3>Список обработанных файлов</h3>
        <div class="alert alert-info" role="alert">Обработанных файлов не найдено</div>
        <table class="table table-striped parse-list">
            <tr>
                <th>Оригинальный файл</th>
                <th>Обработанный файл</th>
                <th>Оригинальное имя</th>
                <th>Поставщик</th>
                <th></th>
            </tr>
        </table>
    </div>
{% endblock %}

{% block templates %}
    {{ parent() }}
    {% verbatim %}
    <script id="modal_search" type="text/html">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Поиск артикула</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label for="article" class="sr-only">Артукул</label>
                            <input type="text" class="form-control by-article" id="article" placeholder="Артикул">
                        </div>
                        <button type="submit" class="btn btn-default search">Поиск</button>
                    </form>
                    <div class="articles"></div>
                    <table class="table table-striped article-list">
                        <tr>
                            <th>Артикул</th>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </script>
    {% endverbatim %}

    {% verbatim %}
    <script id="template_pdf" type="text/html">
        <td>
            <a href="{{ link }}" target="_blank">{{ loadTime }}</a>
        </td>
        <td>{{ originalName }}</td>
        <td>
            <select name="supplier">
                <option value="0">...</option>
            </select>
        </td>
        <td>
            <button data-loading-text="Получаю Excel..." class="btn btn-sm btn-primary parse">Получить Excel</button>
            <button class="btn btn-sm btn-danger delete">Удалить</button>
        </td>
    </script>
    {% endverbatim %}

    {% verbatim %}
    <script id="template_parse_file" type="text/html">
        <td>
            <a href="{{ link }}" target="_blank">{{ loadTime }}</a>
        </td>
        <td>
            <a href="{{ parseLink }}" target="_blank">{{ parseTime }}</a>
        </td>
        <td>{{ originalName }}</td>
        <td>
            <select name="supplier">
            </select>
        </td>
        <td>
            {{#parsed}}
            <button data-loading-text="Обработка..." class="btn btn-sm btn-primary parse">Обработать</button>
            {{/parsed}}
            {{#processed}}
            <button class="btn btn-sm btn-primary result"
                    data-target=".products-modal">Результат</button>
            {{/processed}}
            <button class="btn btn-sm btn-danger delete">Удалить</button>
        </td>
    </script>
    {% endverbatim %}
{% endblock %}
