.file-drop-area {
	height: 200px;
	margin-bottom: 20px;
}
/*.file-list table {*/
	/*display: none;*/
/*}*/
.file-list table td {
	vertical-align: middle !important;
}
.file-list .alert {
	display: none;
}
.modal:nth-of-type(even) {
	z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
	z-index: 1041 !important;
}

/* file input */
.btn-file-wrapper {
	text-align: center;
	margin: 0 0 20px 0;
}
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

/* modal */
.products-modal > .modal-dialog {
	width: 98%;
}
.products-modal .product-list input {
	width: 100%;
}
.products-modal .product-list input.has-error {
	border:2px solid #a94442;
}
.products-modal .product-list th.article {
	width: 570px;
}
.products-modal .product-list th.price {
	width: 100px;
}
.products-modal .product-list th.number {
	width: 70px;
}
.products-modal .product-list th.total-from-file {
	width: 140px;
}
.products-modal .product-list th.country-name {
	width: 150px;
}

.products-modal .product-list input.gtd-number {
	width: 100%;
}
.products-modal .product-list td.article .input-group button.glyphicon {
	top: 0
}

.products-modal .product-list input.total-from-file-file {
	width: 100px;
}
