<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LampUniverse{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('vendor/eternicode-bootstrap-datepicker/css/datepicker3.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    {% endblock %}
    {% block javascripts %}
        {#<script src="{{ asset('vendor/jquery-2.1.1.min.js') }}"></script>#}
        {#<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>#}
        {#<script src="{{ asset('vendor/ICanHaz.min.js') }}"></script>#}
        {#<script src="{{ asset('vendor/underscore.js') }}"></script>#}
        {#<script src="{{ asset('vendor/backbone.js') }}"></script>#}

        {#<script src="{{ asset('vendor/jQueryFileUpload/js/vendor/jquery.ui.widget.js') }}"></script>#}
        {#<script src="{{ asset('vendor/jQueryFileUpload/js/jquery.fileupload.js') }}"></script>#}
        {#<script src="{{ asset('vendor/jQueryFileUpload/js/jquery.fileupload-process.js') }}"></script>#}

        {#<script src="{{ asset('vendor/eternicode-bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>#}
        {#<script src="{{ asset('vendor/eternicode-bootstrap-datepicker/js/locales/bootstrap-datepicker.ru.js') }}" charset="UTF-8"></script>#}
        {#<script src="{{ asset('js/app.js') }}"></script>#}
        {#<script src="{{ asset('js/income_view.js') }}"></script>#}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">LampUniverse</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('site_main_uploadPDFPage') }}">Заливка PDF</a></li>
                    <li><a href="{{ path('site_main_income_page') }}">Поступления</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block templates %}
        {% verbatim %}
        <script id="modal" type="text/html">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">
                            <input type="text" class="number" value="{{ number }}" autocomplete="off" />,
                            <input type="text" class="date" value="{{ date }}" autocomplete="off"/>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped product-list">
                            <tr>
                                <th class="article">Артикул</th>
                                <th class="price">Цена</th>
                                <th class="number">Кол-во</th>
                                <th>Сумма расчетная</th>
                                <th class="total-from-file">Сумма из файла</th>
                                <th class="total-from-file">Сумма с НДС</th>
                                <th class="country-name">Страна</th>
                                <th>Номер ГТД</th>
                                <th></th>
                            </tr>
                            <tr class="total">
                                <td>
                                    <p><b>Итого расчеты</b></p>
                                    <p><b>Из файла</b></p>
                                </td>
                                <td></td>
                                <td></td>
                                <td class="total-calculated">
                                    <p class="calculated"><span></span></p>
                                </td>
                                <td class="total-from-file">
                                    <p class="calculated"><span></span></p>
                                    <p class="file">
                                        <span>
                                            <input type="text" class="file" value="{{ total }}" />
                                        </span>
                                    </p>
                                    <p class="difference"><b>Разница:</b> <span></span></p>
                                </td>
                                <td class="total-tax-from-file">
                                    <p class="calculated"><span></span></p>
                                    <p class="file">
                                        <span>
                                            <input type="text" class="file" value="{{ totalTax }}" />
                                        </span>
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success add-product">Добавить товар</button>
                        <button type="button" class="btn btn-default cancel">Отменить изменения</button>
                        <button type="button" data-loading-text="Сохранение..." class="btn btn-primary save">Сохранить изменения</button>
                        {{^income}}
                        <button type="button" data-loading-text="Сохранение..." class="btn btn-primary save-and-complete">
                            Сохранить изменения и оприходовать
                        </button>
                        {{/income}}
                    </div>
                </div>
            </div>
        </script>
        {% endverbatim %}

        {% verbatim %}
        <script id="template_product" type="text/html">
            <td class="article">
                {{#articleFind}}
                <input type="text" class="article" name="article" value="{{ article }}" autocomplete="off">
                {{/articleFind}}
                {{^articleFind}}
                <div class="input-group has-error">
                    <input type="text" class="article form-control" name="article" value="{{ article }}" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-default article-find glyphicon glyphicon-search" type="button"></button>
                    </span>
                </div>
                {{/articleFind}}
            </td>
            <td class="price">
                <input type="text" class="price" name="price" value="{{ price }}" autocomplete="off">
            </td>
            <td class="number">
                {{#number}}
                    <input type="text" class="number" name="number" value="{{ number }}" autocomplete="off">
                {{/number}}
                {{^number}}
                    <input type="text" class="number has-error" name="number" value="{{ number }}" autocomplete="off">
                {{/number}}
            </td>
            <td class="product-total-calculated">
                {{ totalCalculated }}
            </td>
            <td class="total-from-file">
                <input type="text" class="file" value="{{ total }}" autocomplete="off" />
            </td>
            <td class="total-tax-from-file">
                <input type="text" class="file" value="{{ totalTax }}" autocomplete="off" />
            </td>
            <td class="country-name">
                <input type="text" class="country-name" name="countryName" value="{{ countryName }}">
            </td>
            <td class="gtd-number">
                <input type="text" class="gtd-number" name="GTDNumber" value="{{ GTDNumber }}">
            </td>
            {{#manualAdd}}
                <td class="save">
                    <a class="btn btn-success btn-xs"><i class="fa fa-floppy-o"></i> </a>
                </td>
            {{/manualAdd}}
            {{^manualAdd}}
                <td class="remove">
                    <a class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> </a>
                </td>
            {{/manualAdd}}
        </script>
        {% endverbatim %}
    {% endblock %}
</body>
</html>
