<td>
    <a href="{{ link }}" target="_blank">{{ loadTime }}</a>
</td>
<td>
    <a href="{{ parseLink }}" target="_blank">{{ parseTime }}</a>
</td>
<td>{{ originalName }}</td>
<td>
    <select name="supplier">
    </select>
</td>
<td>
    {{#parsed}}
    <button data-loading-text="Обработка..." class="btn btn-sm btn-primary parse">Обработать</button>
    {{/parsed}}
    {{#processed}}
    <button class="btn btn-sm btn-primary result"
            data-target=".products-modal">Результат</button>
    {{/processed}}
    <button class="btn btn-sm btn-danger delete">Удалить</button>
</td>